body {
	/* don't use a fancy font from Google Fonts */
	font-family: sans-serif;
}

.book-menu-content > nav > ul {
	> li:has(label) {
		margin-bottom: 2.5em;
	}
	> li > label {
		font-weight: bold;
	}
	> li > ul {
		padding-inline-start: 0;
	}
}

#TableOfContents {
	margin-top: 3em;
	padding: 1em 0 .1em 1em;
	border-left: 1px dashed rgba(153,153,153,.5);
}

.book-menu {
	a {
		border-left: 2px solid rgba(0,0,0,0);
		padding-left: 4px;
	}
	a.active {
		border-color: var(--color-link);
	}
}

article a {
	text-decoration: underline !important;
}

.sidelogo {
	float: left;
	margin-right: 2rem;
	width: 6rem;
}

.landing-title {
	margin-top: 0 !important;

	> span {
		display: block;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
	> small {
		font-size: .4em;
		color: gray;
	}
}

ul.download-buttons {
	> li {
		display: inline-block;
		vertical-align: top;
	}
	a {
		display: inline-block;
	}
	.download-button-android img {
		max-height: 3.68rem;
	}
	.download-button-ios {
		margin-top: .6rem;
	}
	.download-button-windows {
		background: black url('download/win.svg') no-repeat;
		background-position: .4rem .4rem;
	}
	.download-button-linux {
		background: black url('download/lin.svg') no-repeat;
		background-position: .4rem .6rem;
	}
	.download-button-windows, .download-button-linux {
		margin: .6rem;
		margin-right: 0;
		height: 2.5rem;
		background-size: 1.5rem;
		color: white;
		border-radius: .4rem;
		border: 1px solid gray;
		padding: .5rem 1.5rem .1rem 2.5rem;
		font-weight: bold;
	}
	details.download-button-windows, details.download-button-linux {
		padding: 0;
		height: auto;
		min-height: 2.5rem;
		text-align: center;
		width: min-content;

		summary {
			padding: .7rem 1.5rem .6rem 2.5rem;
			margin: 0;
			list-style: none;
		}
		summary::marker, summary::-webkit-details-marker {
			content: '';
			display: none;
		}
		ul {
			padding: 0;
			display: flex;
			flex-wrap: wrap-reverse;
			list-style: none;
			justify-content: space-around;

			a {
				color: white;
				white-space: nowrap;
			}
		}
	}
}

.sponsors {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	align-items: center;

	img {
		max-height: 40px;
		width: auto;
	}
	img.opaque {
		background: white;
	}
	img.geant {
		/* https://codepen.io/sosuke/pen/Pjoqqp */
		/* #2e307c */
		filter: invert(18%) sepia(41%) saturate(2201%) hue-rotate(216deg) brightness(94%) contrast(96%);
	}
	@media (prefers-color-scheme: dark) {
		img.geant {
			/* https://codepen.io/sosuke/pen/Pjoqqp */
			/* #ccc */
			filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(343deg) brightness(103%) contrast(91%);
		}
	}
}
