article a {
	text-decoration: underline !important;
}

.app-icon {
	float: left;
	margin: 0 1.5rem 1.5rem 0;
	font-size: 1.25em;
}
@media (min-width: 40em) {
	.app-icon {
		font-size: 2em;
	}
}
.app-icon img {
	display: block;
	width: 6em;
	margin: -.6em;
}

.landing-title {
	font-size: 2rem;
}
.landing-subtitle {
	font-size: 1.125em;
	font-weight: normal;
}
@media (min-width: 40em) {
	.landing-subtitle {
		font-size: 1.4em;
	}
}

ul.download-buttons {
	display: flex;
	gap: .6rem;
	flex-wrap: wrap;
	justify-content: start;
	padding: 0;
	clear: left;
	margin-bottom: 2rem;
}
@media (min-width: 40em) {
	ul.download-buttons {
		clear: none;
	}
}

ul.download-buttons li {
	display: inline-block;
	vertical-align: top;
}
ul.download-buttons a {
	display: inline-block;
}
ul.download-buttons .download-button-android img {
	max-height: 2.5rem;
}
ul.download-buttons .download-button-windows {
	background: black url('download/win.svg') no-repeat;
	background-position: .4rem .4rem;
}
ul.download-buttons .download-button-linux {
	background: black url('download/lin.svg') no-repeat;
	background-position: .4rem .6rem;
}
ul.download-buttons .download-button-windows,
ul.download-buttons .download-button-linux {
	height: calc(2.5rem - 2px);
	background-size: 1.5rem;
	color: white;
	border-radius: .4rem;
	border: 1px solid gray;
	padding: .5rem 1.5rem .1rem 2.5rem;
	font-weight: bold;
}
ul.download-buttons details.download-button-windows,
ul.download-buttons details.download-button-linux {
	padding: 0;
	height: auto;
	min-height: calc(2.5rem - 2px);
	text-align: center;
	width: min-content;
}
ul.download-buttons details summary {
	padding: .5rem 1.5rem 0 2.5rem;
	margin: 0;
	list-style: none;
}
ul.download-buttons details summary::marker,
ul.download-buttons details summary::-webkit-details-marker {
	content: '';
	display: none;
}
ul.download-buttons details ul {
	padding: 0;
	display: flex;
	flex-direction: column;
	list-style: none;
	justify-content: space-around;
}
ul.download-buttons details ul a {
	color: white;
	white-space: nowrap;
	padding: .25em;
	display: block;
}

/********************************/

.sponsors {
	display: flex;
	flex-wrap: wrap;
	gap: 1.25rem;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 auto;
}
.sponsors img {
	height: 1.5rem;
	width: auto;
}
.sponsors img.opaque {
	background: white;
}
.sponsors img.geant {
	/* https://codepen.io/sosuke/pen/Pjoqqp */
	/* #2e307c */
	filter: invert(18%) sepia(41%) saturate(2201%) hue-rotate(216deg) brightness(94%) contrast(96%);
}
@media (prefers-color-scheme: dark) {
	.sponsors img {
		opacity: .6;
	}
	.sponsors img.geant {
		/* https://codepen.io/sosuke/pen/Pjoqqp */
		/* #ccc */
		filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(343deg) brightness(103%) contrast(91%);
	}
	.sponsors img.invert {
		filter: invert(100%) hue-rotate(180deg);
	}
}
@media (max-width: 1300px) {
	.sponsors {
		max-width: 800px;
	}
}
@media (min-width: 40em) {
	.sponsors {
		gap: 1.75rem;
	}
	.sponsors img {
		height: 2rem;
	}
}
@media (min-width: 60em) {
	.sponsors {
		gap: 2rem;
	}
	.sponsors img {
		height: 2.25rem;
	}
}
