article a {
	text-decoration: underline !important;
}

.sidelogo {
	float: left;
	margin-right: 2rem;
	width: 6rem;
}

.landing-title {
	margin-top: 0 !important;
}

.landing-title > span {
	display: block;
	width: 1px;
	height: 1px;
	overflow: hidden;
}
.landing-title > small {
	font-size: .4em;
	color: gray;
}

ul.download-buttons li {
	display: inline-block;
	vertical-align: top;
}
ul.download-buttons a {
	display: inline-block;
}
ul.download-buttons .download-button-android img,
ul.download-buttons .download-button-fdroid img,
ul.download-buttons .download-button-flathub img {
	height: 2.5rem;
}
ul.download-buttons .download-button-windows {
	background: black url('download/win.svg') no-repeat;
	background-position: .4rem .4rem;
}
ul.download-buttons .download-button-linux {
	background: black url('download/lin.svg') no-repeat;
	background-position: .4rem .6rem;
}
ul.download-buttons .download-button-windows,
ul.download-buttons .download-button-linux {
	margin: .6rem;
	margin-right: 0;
	height: 2.5rem;
	background-size: 1.5rem;
	color: white;
	border-radius: .4rem;
	border: 1px solid gray;
	padding: .5rem 1.5rem .1rem 2.5rem;
	font-weight: bold;
}
ul.download-buttons details.download-button-windows,
ul.download-buttons details.download-button-linux {
	padding: 0;
	height: auto;
	min-height: 2.5rem;
	text-align: center;
	width: min-content;
}
ul.download-buttons details summary {
	padding: .5rem 1.5rem 0 2.5rem;
	margin: 0;
	list-style: none;
}
ul.download-buttons details summary::marker,
ul.download-buttons details summary::-webkit-details-marker {
	content: '';
	display: none;
}
ul.download-buttons details ul {
	padding: 0;
	display: flex;
	flex-wrap: wrap-reverse;
	list-style: none;
	justify-content: space-around;
}
ul.download-buttons details ul a {
	color: white;
	white-space: nowrap;
}

/********************************/

.section-tabs nav ul {
	margin: 0;
	padding: 0;
	gap: .2em;
	list-style: none;
	display: flex;
}
.section-tabs nav ul li {
	text-align: center;
	padding: .3em 1em .4em .5em;
	border-radius: .2em .2em 0 0;
}
.section-tabs nav ul li a, .section-tabs nav ul li a:active {
	color: var(--highlight-text-color);
	text-decoration: none;
}

.section-tabs:has(#android:target) nav li.android,
.section-tabs:has(#apple:target) nav li.apple,
.section-tabs:has(#linux:target) nav li.linux,
.section-tabs:has(#windows:target) nav li.windows {
	background-color: var(--highlight-bg-color);
	border-top: 3px solid var(--accent-color);
}

.section-tabs nav a:before {
	content: "";
	display: inline-block;
	vertical-align: sub;
	width: 1.2em;
	height: 1.2em;
	margin: 0 .5em;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}
.section-tabs nav .android a:before { background-image: url('jornane-icon/android.svg'); }
.section-tabs nav .apple a:before { background-image: url('apple.svg'); }
.section-tabs nav .linux a:before { background-image: url('jornane-icon/linux.svg'); }
.section-tabs nav .windows a:before { background-image: url('jornane-icon/windows.svg'); }
@media (prefers-color-scheme: dark) {
	.section-tabs nav .android a:before,
	.section-tabs nav .apple a:before,
	.section-tabs nav .windows a:before {
		/* https://codepen.io/sosuke/pen/Pjoqqp */
		/* #ccc */
		filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(343deg) brightness(103%) contrast(91%);
	}
}

.section-selector section,
.section-selector:has(section:target) section {
	display: none;
}
.section-selector h2 {
	display: none;
}
.section-selector section.highlight {
	scroll-margin-top: 50vh;
	border-left: none;
	border-bottom: 5px solid var(--accent-color);
}
.section-selector:not(:has(section:target)) section.default,
.section-selector section:target {
	display: block !important;
	color: var(--highlight-text-color);
	border-radius: 0 .2em .2em .2em;
}

/********************************/

.sponsors {
	display: flex;
	flex-wrap: wrap;
	gap: 27px;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 auto;
}
.sponsors img {
	height: 32px;
	width: auto;
}
.sponsors img.opaque {
	background: white;
}
.sponsors img.geant {
	/* https://codepen.io/sosuke/pen/Pjoqqp */
	/* #2e307c */
	filter: invert(18%) sepia(41%) saturate(2201%) hue-rotate(216deg) brightness(94%) contrast(96%);
}
@media (prefers-color-scheme: dark) {
	.sponsors img {
		opacity: .6;
	}
	.sponsors img.geant {
		/* https://codepen.io/sosuke/pen/Pjoqqp */
		/* #ccc */
		filter: invert(80%) sepia(0%) saturate(0%) hue-rotate(343deg) brightness(103%) contrast(91%);
	}
	.sponsors img.invert {
		filter: invert(100%) hue-rotate(180deg);
	}
}
@media (max-width: 1300px) {
	.sponsors {
		max-width: 800px;
	}
}
